@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
body{
    font-family: Poppins;
    background-color: rgb(35, 38, 39) ;
    color:white;
}
#landingpage{
    background: linear-gradient(120deg,#200336,#103242,#200336);
    background-size: 500% 100%;
    animation: gradientanimation 30s linear infinite;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    margin: 0px;
}
@keyframes gradientanimation {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }


nav{
    top:10px;
    text-align: right;
    padding-top:15px;
    padding-bottom: 10px;
    margin-right: 25px;
    
}
nav a{
    font-size:20px;
    color:rgb(220, 220, 220);
    text-decoration: none;
    padding:22px;
    display: inline-block; /*sino no funciona transform*/
}

nav a:hover{
    color:white;
    text-decoration: underline;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

#portada{
    margin-top:140px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-right:150px;
    margin-bottom: 150px;
}

#profile-pic{
    width:500px;
    border-radius: 15%;;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.7);
    animation:pic-bounce 3s infinite ease;
}

@keyframes pic-bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

#presentacio{
    padding-left:150px;
}
.nom{
    font-size: 80px;
    margin-bottom:0px;
}
.nom::first-letter{
    color:#0ce6a8;
    font-size:95px;
}

.code {
    font-family: "Courier New", Courier, monospace;
    color: #00ff00;
    background-color: black; 
    display: inline-block;
    padding: 4px 50px;
    border-radius: 6px;
    font-size: 16px;
    position: relative;
}

.code::before {
    content: ">";
    color: #00ff00;
    margin-right: 2px;
}

.code::after {
    content: "_";
    color: #00ff00;
    margin-left: 2px;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}


#arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#arrow a{
    display:inline-block;
    border: none;
    background: none;
    animation: arrow-bounce 1.5s infinite;
}
@keyframes arrow-bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }

}


#aboutme{
margin-left:50px;
}

h1{
    font-size:50px;
}